spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  token-validity-in-seconds: ${JWT_ACCESS_EXP}