spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true        # SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # 보기 좋게 포맷
        use_sql_comments: true  # 쿼리 주석 표시
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: chat-group
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  token-validity-in-seconds: ${JWT_EXPIRATION_SECONDS}

logging:
  level:
    org.springframework.kafka: DEBUG
    com.example.demo.chat.consumer: DEBUG